/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #add8e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 166, 166);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title_st{
 
  justify-content: 'center';
  align-items: 'center';
} */
/* Inside src/App.css */
/*
img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  img.bg {
      left: 50%;
      margin-left: -512px;
  }
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;

  }
  .title {
  text-align: center;
  justify-content: center;
  width: 30vw;
  background-color: rgb(62, 65, 251);
  padding: 2vw 1vw;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30vw;
  padding: 2vw 25vw;
  background-color: rgb(245, 214, 214);
  border-radius: 0 0 10px 10px;
  }
  input {
  border: 1px solid rgb(0, 255, 47);
  display: flex;
  border-radius: 10px;
  padding: 1vw 25vw;
  outline: none;
  margin: 10px;
  }
  */
  
/*
  .App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-intro {
    font-size: large;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }





  .app-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 1rem;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 2px solid #3300ff;
    text-align: left;
    padding: 15px;
    font-size: 22px;
  }
  
  th {
    background-color: rgb(255, 255, 255);
  }
  
  td {
    background-color: rgb(255, 255, 255);
  }
  
  form {
    margin-top: 10px;
    align-items: center;
    display: flex;
    gap: 10px;
  }
  
  form td:last-child {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    align-items: center;
    font-size: 10px;
  }
.bg{
 background-image: url(backgroundab.png);
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
}








  html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 600px;
  overflow-y: scroll;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
table {
  width: 800px;
  height: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}
*/

.App-header{
  margin-top: 0.1px;
  background-color: white;
}
.App-header.App-logo{
  height: 10%;
  width: 15%;
}

.App {
  background-image: url(https://t4.ftcdn.net/jpg/01/95/26/47/360_F_195264785_oHApyzWMRq6EnHLfWy81MSKbbpp8yCkc.jpg);
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  }
  
  table {
  border: 2px solid rgb(255, 255, 255);
  width: 800px;
  height: 500px;
  }
  
  th {
  border-bottom: 1px solid rgb(255, 255, 255);
  color: white;
  }
  
  td {
  text-align: center;
  color: white;

  }
  .button{
    margin-right: 1000px;
  }
  .b1{
    color: rgb(245, 245, 245);
    background-color: rgb(110, 101, 101);
    border-color: rgb(243, 239, 239);
    float:right;
    height:40px;
    width:90px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-right: 10px;
  }
  
/*
  body{
      background-image: url("C:/Users/850066451/Documents/Mock Project/login/src/backgroundfinal2.jpg");
    }

*/
  